body{
  margin: auto;
}
.navbar-container{
  width: 90%;
  margin: auto;
}
#update>a{
  color: rgb(207, 27, 27);
}

#loginform{
  width: 100%;
  text-align: center;
}
#regform{
  width: 100%;
  text-align: center;
}
.navbar{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #098;
}

a{
  margin: auto 0 auto 0;
  color: #eee;
  font-size: 20px;
  text-decoration: none;
}

ul{
  display: flex;
}

li{
  margin-left: 20px;
  list-style: none;
}

